*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #1d1d1d;
  background-color: #f4f8f6;
  min-width: 400px;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 80%;
  width: 250px;
  min-width: 290px;
  background-color: rgba(224, 226, 225, 0.4);
  border-right: solid 2px rgba(138, 158, 148, 0.4);
}

#navbar ul {
  height: 65%;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: solid 1px black;
}
#navbar li {
  width: 100%;
  list-style: none;
  position: relative;
}
#navbar a {
  display: block;
  text-decoration: none;
  padding: 10px 30px;
  color: #25262794;
  border-top: solid 1px;
  cursor: pointer;
  line-height: 1.5;
}
p {
  text-align: justify;
  font-size: 1em;
  margin: 15px;
}
header {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: justify;
  margin: 10px;
  color: rgba(17, 26, 21, 0.9);
  margin-top: 20px;
}
#navbar header {
  color: rgba(20, 16, 25, 0.8);
  text-align: left;
}
code {
  display: block;
  background-color: #8b8787;
  white-space: pre-line;
  line-height: 2.2;
  margin: 5px auto;
  padding: 10px;
  border-radius: 5px;
  width: 450px;
  text-align: center;
  font-size: 1.2em;
}
#main-doc {
  text-align: left;
  margin: 0;
}
#main-doc {
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}
@media only screen and(max-width:400px) {
  #navbar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    min-width: 290px;
  }
  #main-doc {
    margin-left: 0px;
    margin-top: 270px;
  }
}
@media only screen and(max-width:800px) {
  #navbar ul {
    background-color: #2fefdf;
    color: #231205;
    width: 250px;
  }
  code {
    display: block;
    text-align: center;
    white-space: pre;
    margin: 20px;
  }
  #main-doc {
    text-align: left;
    margin: 10px;
  }
}
